<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/styles.css">
    <title>Chatroom | ChatApp</title>

</head>
<body class="chat">
    <audio id="chatSounds">
        <source src="/sounds/unconvinced.ogg" type="audio/ogg">
    </audio>

    <div class="chat__sidebar">
        <h3>People</h3>
        <div id="users"></div>
    </div>



    <div class="chat__main">
        <span id="messages" class="chat__messages"></span>


        <div class="chat__footer">
            <form id="message-form">
                <input name="message" type="text" placeholder="type message here..." autocomplete="off" autofocus/>
                <button>Send</button>
            </form>
            <br>
            <button id="send-location">Send Location</button>
        </div>

    </div>

    <script id="message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p>{{text}}</p>
            </div>
        </li>
    </script>
    <script id="location-message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <a href="{{url}}" target="_blank">My current location</a>
            </div>
        </li>
    </script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/lib/moment.js"></script>
    <script type="text/javascript" src="/js/lib/mustache.js"></script>
    <script type="text/javascript" src="/js/lib/deparam.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
</body>
</html>