<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/leaflet.css"/>
    <script type="text/javascript" src="js/leaflet.js"></script>
    <style>
        body {font-family: "Lato", sans-serif;}

        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
            transition: 0.5s;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content */
        .tabcontent {
            color: black;
            display: none;
            /*padding: 50px;*/
            /*text-align: center;*/

            flex-grow: 1;
            overflow-y: visible;/*scroll / hidden*/
            -webkit-overflow-scrolling: touch;
        }

        #People {background-color:#FFF;}
        #Chat {background-color:#FFF;}
        #Map {background-color:#555;}
        #Settings {background-color:#265f82;}

        footer {
            /*position: absolute;*/
            /*bottom: 0;*/
            /*left: 0;*/
            /*width: 100%;*/
            height: 50px;
            display: flex;
            flex-shrink: 0;
        }
        body {
            display: flex;
            /*overflow-y: hidden;*/
        }
        .chat {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;

        }



    </style>
    <link rel="stylesheet" href="css/styles_main.css">
    <title>Group Chat</title>
</head>
<body>

<div class="chat">
    <audio id="chatSounds">
        <source src="/sounds/unconvinced.ogg" type="audio/ogg">
    </audio>
    <!-- PEOPLE TAB -->
    <div id="People" class="tabcontent">
        <div class="chat__sidebar">
            <h3>People»</h3>
            <div id="users"></div>
        </div>
        <footer>
            <button class="tablink" onclick="changeTab('People', this, 'lightblue')" id="defaultOpen">People</button>
            <button class="tablink" onclick="changeTab('Chat', this, 'lightblue')" >Chat</button>
            <button class="tablink" onclick="changeTab('Map', this, 'lightblue');refocusMap();">Map</button>
            <button class="tablink" onclick="changeTab('Settings', this, 'lightblue')">Landmarks</button>
        </footer>
    </div>
    <!-- CHAT TAB -->
    <div id="Chat" class="tabcontent">
        <div class="chat__main">
            <span id="messages" class="chat__messages"></span>


            <div class="chat__footer">
                <form id="message-form">
                    <input name="message" type="text" placeholder="type message here..." autocomplete="off" autofocus/>
                    <button>Send</button>
                </form>
                <!--<br>-->
                <!--<button id="send-location">Send Location</button>-->
            </div>

        </div>

        <script id="message-template" type="text/template">
            <li class="message">
                <div class="message__title">
                    <h4>{{from}}</h4>
                    <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                    <p>{{text}}</p>
                </div>
            </li>
        </script>
        <script id="location-message-template" type="text/template">
            <li class="message">
                <div class="message__title">
                    <h4>{{from}}</h4>
                    <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                    <a href="{{url}}" target="_blank">My current location</a>
                </div>
            </li>
        </script>
        <footer>
            <button class="tablink" onclick="changeTab('People', this, 'lightblue')">People</button>
            <button class="tablink" onclick="changeTab('Chat', this, 'lightblue')" >Chat</button>
            <button class="tablink" onclick="changeTab('Map', this, 'lightblue');refocusMap();">Map</button>
            <button class="tablink" onclick="changeTab('Settings', this, 'lightblue')">Landmarks</button>
        </footer>
    </div>
    <!-- MAP TAB -->
    <div id="Map" class="tabcontent">
        <div id="mapid" style="width: 100%; height: calc(100vh - 50px);height: -o-calc(100vh - 50px);height: -webkit-calc(100vh - 50px);height: -moz-calc(100vh - 50px);">
        </div>
        <!--<button onclick="sendUpdateLocation()" type="button">sendUpdateLocation</button>-->
        <footer>
            <button class="tablink" onclick="changeTab('People', this, 'lightblue')">People</button>
            <button class="tablink" onclick="changeTab('Chat', this, 'lightblue')" >Chat</button>
            <button class="tablink" onclick="changeTab('Map', this, 'lightblue');refocusMap();">Map</button>
            <button class="tablink" onclick="changeTab('Settings', this, 'lightblue')">Landmarks</button>
        </footer>
    </div>

    <div id="Settings" class="tabcontent">
        <div class="marker__main">
            <br><br>

            <!--<form>-->
                <fieldset style="width: 200px; margin: auto; text-align: center;padding: 15px;color:white;">
                    <legend align="center">Set Landmark</legend>
                    <img id="landmarker" src="/landmarkers/blank.png"><br>
                    <SELECT id="landmark_select" name="items" onChange="setImage(this)">
                        <OPTION VALUE="blank">select landmark
                        <OPTION VALUE="flag">Flag
                        <OPTION VALUE="camp">Camp
                        <OPTION VALUE="landmark">Structure
                        <OPTION VALUE="tree">Tree
                        <OPTION VALUE="snowflake">Snowflake
                        <OPTION VALUE="fire">Fire
                        <OPTION VALUE="water">Water
                        <OPTION VALUE="waterfalls">Water Station
                        <OPTION VALUE="food">Food
                        <OPTION VALUE="bar">Bar
                        <OPTION VALUE="toilets">Toilets
                        <OPTION VALUE="parking">Parking
                        <OPTION VALUE="question">Question
                        <OPTION VALUE="caution">Caution
                    </SELECT>
                    <br>
                    Label: <input id="landmark_label" type="text" placeholder=" this is optional" onkeyup="this.value=this.value.replace(/[^a-zA-Z !?.']/g,'');" maxlength="20"><br>
                    <button id="set-marker" >Select</button>
                    <button id="reset-marker">Reset</button>
                    <button id="delete-marker">Delete</button><br>
                    <!--<button id="send-location">Send Location</button>-->
                </fieldset>
            <!--</form>-->

            <br><br>
            <div>

                <fieldset style="width: 200px;  margin: auto;text-align: center;padding: 15px;color:white;">
                    <legend align="center">Resend Saved Landmarks</legend>

                    <button id="resend-landmarks">Resend Landmarks</button>
                </fieldset>

            </div>
        </div>
        <footer>
            <button class="tablink" onclick="changeTab('People', this, 'lightblue')">People</button>
            <button class="tablink" onclick="changeTab('Chat', this, 'lightblue')" >Chat</button>
            <button class="tablink" onclick="changeTab('Map', this, 'lightblue');refocusMap();">Map</button>
            <button class="tablink" onclick="changeTab('Settings', this, 'lightblue')">Landmarks</button>
        </footer>
    </div>


<!--<footer>-->
    <!--<button class="tablink" onclick="changeTab('People', this, 'lightblue')" id="defaultOpen">People</button>-->
    <!--<button class="tablink" onclick="changeTab('Chat', this, 'lightblue')" >Chat</button>-->
    <!--<button class="tablink" onclick="changeTab('Map', this, 'lightblue');refocusMap();">Map</button>-->
    <!--<button class="tablink" onclick="changeTab('Settings', this, 'lightblue')">Settings</button>-->
<!--</footer>-->
</div>
<script>



    function changeTab(tabName,elmnt,color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(tabName).style.display = "block";
        elmnt.style.backgroundColor = color;

    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/moment.js"></script>
<script type="text/javascript" src="/js/lib/mustache.js"></script>
<script type="text/javascript" src="/js/lib/deparam.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
